<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.swm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.app.swm.config.MyApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@*android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.app.swm.ui.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.swm.ui.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.swm.ui.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.swm.ui.ScheduleDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.swm.ui.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.swm.ui.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.swm.ui.GroupListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.swm.ui.GroupDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.swm.ui.GroupMembersActivity"
            android:screenOrientation="portrait" 
            android:theme="@style/GroupMembers">
        </activity>
        <activity
            android:name="com.app.swm.ui.UserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.swm.ui.AddGroupActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.app.swm.service.DownloadService" >
        </service>

        <receiver android:name="com.app.swm.receiver.LoginReceiver" >
            <intent-filter>
                <action android:name="login" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>